<div class="form-container">
  <h1>Create New Event</h1>

  <%= render "form", event: @event %>

  <!-- coontainer-->
  <div class="button-container">
    <%= link_to "Back to Events", events_path, class: "button back-link" %>
  </div>
</div>


